{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <h2 class="teal-text text-lighten-2">待办事项程序！</h2>
        <h5 class="light">来一起使用待办事项程序处理待办事项！</h5>
        <div class="row center-block">
            <div class="fake-browser-ui hoverable card-panel">
                <div class="frame">
                    <span class="red"></span>
                    <span class="blue"></span>
                    <span class="orange"></span>
                </div>
                <img class="responsive-img" src="{{
                    url_for('static', filename='demo.png') }}">
            </div>
        </div>
        <div class="row">
            <a href="#login" class="btn waves-effect
            waves-light red">让我们开始吧！</a>
        </div>
    </div>
{% endblock %}